
:root{
    --half_line_density: 1px; /* assuming 1vh is roughly equal to 6px */
    --square_size: 36px; /* assuming 1vh is roughly equal to 6px */
    --main_board_gap: 10px; /* gap between main board components */
}
.page_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #f0f0f0;
	
}
.instructions{
	font-family:'Times New Roman', Times, serif ;
	font-weight: normal;
	margin-top: 80px;
	text-align: center;
	width: 30%;
}

.basic_text{
    font-family:'Times New Roman', Times, serif ;
    font-weight: normal;
    margin-top: 80px;
    text-align: center;
}
.button_container{
    margin-top: 48px; /* assuming 1vh is roughly equal to 6px */
    display: grid;
    grid-template-columns: 40% 40%;


}
.main_board{
    position: relative;
    width: calc(9 * var(--square_size) + 18 * var(--half_line_density) + 6 * var(--main_board_gap));
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: var(--main_board_gap);
}

.main_board_component{
    font-size: 30px;
    text-align: center;
    width: fit-content;
    aspect-ratio: 1/1;
}

.filled_board{
    position: relative;
    width: calc(3 * var(--square_size) + 6 * var(--half_line_density));
    aspect-ratio: 1/1;
    margin:0;
    font-size: 2em;
    line-height: 1;
    background-color: #ffffff;
}



.sub_board{
    width: calc(3 * var(--square_size) + 6 * var(--half_line_density));
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000;
    padding: var(--half_line_density);
	box-sizing: content-box;
}
.square{
    margin: var(--half_line_density);
    width: var(--square_size);
    aspect-ratio: 1/1;
    text-align: center;

}

.empty_cell,
.filled_cell {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1;
    box-sizing: border-box;
}

.valid_button{
    cursor: pointer;
    transition: background-color 0.5s, color 0.3s;
}
.empty_cell.valid_button:hover
{
    background-color: #05e905;
}
@media (max-width: 600px){
	
	
}
