
:root{
	--half_line_density: 0.2vh;
	--square_size: 7vh;
}

.page_container{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 1600px;
	display: flex;
	flex-direction: row;
}

.instructions{
	position: relative;
	width: 30%;
}

.basic_text{
	font-family:'Times New Roman', Times, serif ;
	font-weight: normal;
	margin-top: 80px;
	text-align: center;
}
.button_container{
	margin-top: 8vh;
	display: grid;
	grid-template-columns: 40% 40%;


}
.engine_details{
	position: relative;
	width: 30%;
}
.main_contents{
	
	width:100%;
	position: relative;
}
.main_board{
	position: relative;
	width: 70%;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: 30% 30% 30%;
	padding: 10px;
}
.main_board_component{

    font-size: 30px;
    text-align: center;
	margin: 10px;
	width: 100%;
	aspect-ratio: 1/1;

}
.sub_board{
	width: 100%;
	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	/*background-color: #2196F3;*/
	background-color: #000;
	padding: var(--half_line_density);
}
.square{
    margin: var(--half_line_density);
	
	width: 100%;
	aspect-ratio: 1/1;
    text-align: center;
}
.filled_board{
	position: relative;
	width: 100%;
	aspect-ratio: 1/1;
	margin:0;
	font-size: calc(8* var(--half_line_density) + 3 * var(--square_size));
	line-height: 1;
	background-color: #ffffff;
}
.filled_cell{
	position: relative;
	width: 100%;
	aspect-ratio: 1/1;
	font-size: 40px;
	padding:0px;
	background-color: #ffffff;
}
.empty_cell
{
	background-color: #ffffff;
	width: 100%;
	aspect-ratio: 1/1;
}
.button{
	margin: 0;
	border: 0;
}
.valid_button{
	cursor: pointer;
	transition: background-color 1.5s, color 0.3s;
}
.empty_cell.valid_button:hover
{
	background-color: #05e905;
}	